<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> Iniciar cadastro</title>
	<style>

		body{
		background-image:url("https://thumbs.dreamstime.com/z/emploi-de-recrutement-gestion-d-heure-ressources-humaines-recrutant-des-cadres-le-concept-126588021.jpg")
		}
	</style>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<a th:href="@{/rh/pessoas/nova}" class="btn btn-primary btn-sm mb-3">Iniciar cadastro</a>
		<h1>Bem vindo</h1>
		<table border="3" class="table table-striped table-responsive-md">
			<thead>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</body>
</html>